= form_for @task, html: { class: 'form-horizontal' }  do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :due_at, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :due_at
  .form-actions
    = f.submit class: 'btn btn-default'
