%h3= t("user")

= form_for @user, html: { class: 'form-horizontal' }  do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :mail, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :mail, class: 'form-control'
  .form-actions
    = f.submit class: 'btn btn-default'
